@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-void text-slate-100 antialiased;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.mono-data {
  font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
